
<div ng-controller="dashboard">
  <div class="left container">
    <div class="tmargin45">
      <div><i class="glyphicon glyphicon-home font-size-glyphicon"></i></div>
      <div>Home</div>
    </div>
    <div class="tmargin45">
      <div><i class="glyphicon glyphicon-th-list font-size-glyphicon"></i></div>
      <div>List</div>
    </div>
    <div class="tmargin45">
      <div><i class="glyphicon glyphicon-tasks font-size-glyphicon"></i></div>
      <div>Reports</div>
    </div>
    <div class="tmargin45">
      <div><i class="glyphicon glyphicon-question-sign font-size-glyphicon"></i></div>
    </div>
  </div>
  <div class="second_left">
    <div class="agentx">
        AGENT X
    </div>
    <div class="rfloat">
      <div class="lmargin5">
        Chats Active = 8
      </div>
      <div class="lmargin5">
        Chats Completed = 8
      </div>
    </div>
    <div>
      <input class = "width_search_bar" type="text" placeholder="search">
      <div class = "searchBar">
      <div ng-repeat="contact in contact_list" class="tmargin5">
        <div>{{contact.number}}</div>
        <span class="lmargin15">last chat message</span>  <span>{{contact.last_chat}}</span> pm
      </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="chat_header">
      <span class="agentx lmargin40 tmargin15">9576451235</span>
      <span class="last_scene">last seen at 21:45</span>
      <span class="glyphicon glyphicon-th-large history_icon"></span>
      <span class="lmargin_history">History</span>
      <span class="glyphicon glyphicon-remove cancel_chat"></span>
    </div>
    <div class="chat_box container">
      chat
    </div>
    <div class="text"><input class="input-text" type="text" placeholder="Type text here"><button class="btn-send">Send</button></div>
  </div>
  <div class="right_sidebar conatiner">
  <span>
  <img src="assets/partner.png" height="100" width="80"></span>
  <span>A B Singh</span>
  <span>9513492869</span>
  <div>9597450112</div>
  <div>8867450112</div>
  <div>9007450112</div>
  <div>7007450112</div>
  </div>
  <div class="right_sidebar_second conatiner">
  <span>
  <img src="assets/partner.png" height="100" width="80"></span>
  <span>B K Singh</span>
  <span>9513492869</span>
  <div>9597450112</div>
  <div>8867450112</div>
  <div>9007450112</div>
  <div>7007450112</div>
  </div>
</div>



